{% assign post = include.post %} {% assign volume = include.volume %}

<a href="{{ post.url | relative_url }}">
  <div class="card">
    <h1 class="card__title">{{ post.title }}</h1>

    {% assign excerpt = post.excerpt %} {% if volume == 'less' %} {% assign
    excerpt = excerpt | truncatewords: 10 %} {% endif %} {% if excerpt %}
    <div class="card__excerpt">{{ excerpt }}</div>
    {% endif %} {% if post.date %}
    <div class="card__date">{{ post.date | date: "更新于：%Y/%m/%d" }}</div>
    {% else %}
    <div class="card__date">更新于：不详</div>
    {% endif %}
  </div>
</a>
