<header class="header">



  <!-- 头像链接 -->
  <a class="header__avatar header__avatar--circle" href="{{ '/' | relative_url }}">
    <img src="{{ site.avatar | relative_url }}" alt="{{ site.avatarInfo }}">
  </a>

</header>


<script>
  
  /*
  <!-- 顶部图片 -->
  <div class="header__image swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="{{ site.header_image_1 | relative_url }}" alt="Header Image 1">
      </div>
      <div class="swiper-slide">
        <img src="{{ site.header_image_2 | relative_url }}" alt="Header Image 2">
      </div>
      <div class="swiper-slide">
        <img src="{{ site.header_image_3 | relative_url }}" alt="Header Image 3">
      </div>
      <!-- 更多图片... -->
    </div>

    <!-- <!-- 可选分页器 --> -->
    <div class="swiper-pagination"></div>
<!--  -->
    <!-- <!-- 可选按钮 --> -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  */
  
  document.addEventListener('DOMContentLoaded', function () {
    var swiper = new Swiper('.swiper-container', {
      loop: true, // 循环播放
      autoplay: {
        delay: 3000, // 每3秒切换一次
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true, // 点击分页器切换图片
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  });
</script>

