<header class="header">
  <!-- 顶部图片 暂时隐藏-->
  <div class="header__image swiper-container" style="display: none">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="{{ site.header_image_1 | relative_url }}"
          alt="Header Image 1"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="{{ site.header_image_2 | relative_url }}"
          alt="Header Image 2"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="{{ site.header_image_3 | relative_url }}"
          alt="Header Image 3"
        />
      </div>
      <!-- 更多图片... -->
    </div>

    <!-- 可选分页器 -->
    <div class="swiper-pagination"></div>
    <!--  -->
    <!-- 可选按钮 -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

  <!-- 头像链接 -->
  <a
    class="header__avatar header__avatar--circle"
    href="{{ '/' | relative_url }}"
  >
    <img src="{{ site.avatar | relative_url }}" alt="{{ site.avatarInfo }}" />
  </a>
</header>
