<!doctype html>
<html>
  <head>
    {% include head.html %}

    <link
      rel="stylesheet"
      href="{{ '/assets/css/page.css' | relative_url }}"
      media="all"
    />
    <!-- 将baseurl保存到页面 -->
    <script>window.baseurl = "{{ site.baseurl }}";</script>
  </head>
  <body>
    <!-- 检测是否为手机， 电脑版网页懒得写...-->
    <script src="{{ '/assets/js/check_is_mobile.js' | relative_url }}"></script>
    <!-- 在 `<body>` 部分引入 Swiper 的 JS -->
    <!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->
    <!-- 引用本地的 swiper-bundle.min.js -->
    <script src="{{ '/assets/js/swiper-bundle.min.js' | relative_url }}"></script>

    <div
      class="page-content clear-header--top clear-navbar--top clear-footer--bottom"
    >
      {% include header.html %} {% include navigation.html %}

      <main class="main clear-header--left">{{ content }}</main>

      {% include footer.html %}
    </div>
  </body>
  
  
    <!-- 搜索框，放在网页最后面 -->
    <script src="{{ '/assets/js/search-post.js' | relative_url }}"></script>
  
</html>
